@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./background.jpg);
}

@layer base {
  h1 {
    @apply text-2xl pb-4;
  }

  h2 {
    @apply text-xl pb-2;
  }
}

/* We use div. here in order to get extra specificity. */

div.tooltip-container {
  --tooltipBackground: black;
  color: inherit;
}

div.tooltip-arrow::after {
  --tooltipBackground: black;
}
